<library path="/home/volki/meturover_24/src">
  <class name="Simple Plugin" type="metu_rqt_plugin.plugin_example.SimplePlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      RQt eklenti denemesi.
    </description>
    <qtgui>
      <group>
        <label>Rover_Deneme</label>
      </group>
      <label>Simple Plugin</label>
    </qtgui>
  </class>

  <class name="Competition Map" type="metu_rqt_plugin.competition_map_plugin.CompetitionMap" base_class_type="rqt_gui_py::Plugin">
    <description>
      Haritada yarışma alanı gözükecek ve roverın gitmesi gereken konumlar işaretlenebilecek
    </description>
    <qtgui>
      <group>
        <label>Rover_Deneme</label>
      </group>
      <label>Competition Map</label>
    </qtgui>
  </class>

  <class name="Topic Controller" type="metu_rqt_plugin.topic_controller_plugin.TopicController" base_class_type="rqt_gui_py::Plugin">
    <description>
      Belirli topiclerin durumunun kontrol edilmesine yardım edecek bir eklenti
    </description>
    <qtgui>
      <group>
        <label>Rover_Deneme</label>
      </group>
      <label>Topic Controller</label>
    </qtgui>
  </class>

  <class name="Sensor Plots" type="metu_rqt_plugin.sensor_plot_plugin.SensorPlotPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Sensörlerden gelen verilerin grafiklere döküldüğü bir eklenti
    </description>
    <qtgui>
      <group>
        <label>Rover_Deneme</label>
      </group>
      <label>Sensor Plots</label>
    </qtgui>
  </class>

  <class name="Science Hub Controller" type="metu_rqt_plugin.sci_hub_controller_plugin.SciHubController" base_class_type="rqt_gui_py::Plugin">
    <description>
      Bilim mekanizması için oluşturulmuş bir kontrol paneli
    </description>
    <qtgui>
      <group>
        <label>Rover_Deneme</label>
      </group>
      <label>Sci Hub Controller</label>
    </qtgui>
  </class>

  <class name="State Light" type="metu_rqt_plugin.state_light_plugin.StateLight" base_class_type="rqt_gui_py::Plugin">
    <description>
      Durum ışığını ayarlamak için oluşturulmuş bir eklenti
    </description>
    <qtgui>
      <group>
        <label>Rover_Deneme</label>
      </group>
      <label>State Light</label>
    </qtgui>
  </class>
</library>
